<template>
  <div>
    <div v-for="poll in polls">
      <h2>Poll {{ poll.title }}</h2>
      <input type="radio"
        name="selection"
        @click="submit(poll.id, option)"
        v-for="option in poll.options"
        :value="option"
      />
      <span>Results: {{ results(poll.id) }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selected: ""
    };
  },
  computed: {
    polls() {
      return this.$store.state?.data?.poll || [];
    },
    votes() {
      return this.$store.state?.data?.vote || [];
    }
  },
  methods: {
    results(id) {
      const results = this.votes.filter(v => v.pollID === id);
      return this.$lodash.countBy(results, "value");
    },
    async submit(pollID, value) {
      const type = { type: "vote" };
      const body = { pollID, value };
      await this.$store.dispatch("entitySubmit", { ...type, body });
      await this.$store.dispatch("entityFetch", type);
    }
  }
};
</script>
