<template>
  <div>
    <div class="sp-container">
      <sp-sign-in />
      <sp-bank-balances />
      <sp-token-send />
      <!-- this line is used by starport scaffolding # 4 -->
	    <poll-form />
      <poll-list />
    </div>
  </div>
</template>

<script>
import * as sp from "@tendermint/vue";
import pollForm from '../components/PollForm';
import pollList from '../components/PollList';

export default {
  components: { ...sp, pollForm, pollList },
};
</script>
